*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*setting font family*/
}

#info{
	padding-left: 12%;
	padding-right: 12%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

#info > .card{
	text-align: left;
	padding-top: 20px;
}

#info h3{
	margin-bottom: .5rem;
}

#pre > h2{
	margin-bottom: 1rem;

}

#pre {
	background-color: #10628E;
}

#pre > .list{
	display: inline-block;
	/*using % for width will consume n% of the user screen size.*/
	width: 20%;
	margin-left: 1rem;
	margin-right: 1rem;
	padding: 5px;
	/*aligns the .card elements at the top of their line*/
	vertical-align: top;
	/*min-height - sets the minimum height for the content if it doesn't reach the target height.*/
	min-height: 150px;

}

nav > ol {
	list-style-type: none;
}

li, h2 {
	color: mintcream;
}

nav, ol {
	margin: .5rem;
	display: inline;
	/*sets the vertical alignment to the middle*/
	vertical-align: middle;
}